﻿@{
    ViewData["Title"] = "Data Page";
}
@model MattelProject.Controllers.DataModel

<form asp-action="Index" asp-controller="Data">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" placeholder="Your name goes here" />
    <br />
    <label asp-for="Age"></label>

    <input asp-for="Age" placeholder="Your age goes here" />
    <br />
    <input type="submit" />
</form>
<br /><br />

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in @ViewBag.Data)
        {
        <tr>
            <th scope="row">1</th>
            <td>@user.FirstName</td>
            <td>@user.Age</td>
            <td><a class="btn btn-primary" href="Data/delete/@user.DataId" role="button"><i class="fas fa-trash"></i></a></td>

        </tr>
        }
     
    </tbody>
</table>