﻿@{
    ViewData["Title"] = "Home Page";

    var test = ViewBag.testCount;

    var data = ViewBag.Message;

    //var oeeData = ViewBag.oeeData;

    var employeeStatistics = ViewBag.EmployeeData;
}


<style>
    #a-drag-1, #a-drag-2, #a-drag-3 {
        font-size: 170%;
        width: 100%;
        background-color: #2a3042;
        margin: 0.5rem 0 0 0.5rem;
        color: white;
        touch-action: none;
        user-select: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 10px;
    }

    #a-drag-1 {
    }

    #a-drag-2 {
    }


    #a-drag-4, #a-drag-5 {
        font-size: 170%;
        width: 100%;
        margin: 0.5rem 0 0 0.5rem;
        background-color: #2a3042;
        color: white;
        padding: 5px;
        border-radius: 10px;
    }



    #b-drag-1 {
        font-size: 130%;
        width: 100%;
        margin: 0.5rem 0 0 0.5rem;
        background-color: #2a3042;
        color: white;
        border-radius: 10px;
        padding: 5px;
    }

    #b-drag-2 {
        width: 100%;
        margin: 0.5rem 0 0 0.5rem;
        background-color: #2a3042;
        color: white;
        border-radius: 10px;
        padding: 5px;
    }

    .carousel-inner .carousel-item {
        transition: -webkit-transform 2s ease;
        transition: transform 2s ease;
        transition: transform 2s ease, -webkit-transform 2s ease;
    }

    #c-drag-1 {
        width: 100%;
        margin: 0.5rem 0 0 0.5rem;
        background-color: #2a3042;
        color: white;
        padding: 5px;
        border-radius: 10px;
    }

    #c-drag-2, #c-drag-3 {
        font-size: 150%;
        width: 100%;
        margin: 0.5rem 0 0 0.5rem;
        background-color: #2a3042;
        color: white;
        border-radius: 10px;
        padding: 5px;
    }

    .bg-gradient {
        background-color: #2a3042;
        /*background-image: linear-gradient(147deg, #2a3042 70%, #434343 30%);*/
    }

    .ridge-border {
        border-style: ridge;
        background-color: #535251;
        border-color: #c4c5ce;
    }



    .gauge-container.two > .gauge > .value {
        /*stroke: orange;*/
        stroke-dasharray: none;
        stroke-width: 13;
    }

    .carousel-control {
        top: 50%;
        bottom: 50%;
    }

    .padding-0 {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
    }

    #my-div {
        width: auto;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    #my-iframe {
        position: absolute;
        top: -575px;
        left: -690px;
        width: 1639px;
        height: 820px;
    }

    .carousel-control-prev-icon-custom,
    .carousel-control-next-icon-custom {
        height: 100px;
        width: 100px;
        outline: black;
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 1px solid black;
        background-image: none;
    }

        .carousel-control-next-icon-custom:after {
            content: '>';
            font-size: 55px;
            color: #ef4655;
        }

        .carousel-control-prev-icon-custom:after {
            content: '<';
            font-size: 55px;
            color: #ef4655;
        }
</style>


<div class="row">

    <div class="col-xl-2 padding-0">
        <div id="a-drag-1" class="draggable bg-gradient">
            <a class="weatherwidget-io" href="https://forecast7.com/en/n6d24106d98/bekasi/" data-label_1="BEKASI" data-label_2="WEATHER" data-font="Open Sans" data-mode="Current" data-days="3" data-textcolor="#ffffff">BEKASI WEATHER</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>
        </div>
        <div id="a-drag-2" class="draggable bg-gradient p-3">
            <div class="card-title font-weight-bold text-center">
                Near Missed
            </div>
            <div class="card-body">
                <div class="media">
                    <div class="media-body text-center">
                        <p class="fw-medium" style="#c3cbe4 !important">This Week</p>
                        <h4 class="mb-0">150 Report</h4>
                        <small><span class="text-success">50%</span> YTD</small>
                    </div>
                </div>
            </div>
        </div>
        <div id="a-drag-3" class="draggable bg-gradient text-center">
            <img src="/img/car-img/toycar.png" style="width:40%;" class="rounded mx-auto img-fluid d-block" />
            # cars this week
            <b>175.170</b> <br />
            # target this week
            <b>250.000</b>
        </div>
        <div id="a-drag-4" class="draggable bg-gradient text-center">
            <p> <b>Efficiency</b></p>

            @*<div class="container">
                    <div class="row" style="display:table">
                        <div class="col-md-3 col-sm-4 col-lg padding-0">
                            <div class="ridge-border"><span style="font-weight: lighter;">2020</span>  <span style="font-weight: bolder;">80%</span> </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-lg padding-0">
                            <div class="ridge-border"><span style="font-weight: lighter;">YTD 2021</span> <span style="font-weight: bold;"> 80%</span></div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-lg padding-0">
                            <div class="ridge-border"><span style="font-weight: lighter;">WTD</span>  <span style="font-weight: bold;">80%</span></div>
                        </div>
                    </div>
                </div>*@
            <table class="table align-middle table-nowrap mb-0">
                <thead style="background-color: rgba(108,117,125,0.05); color: #a6b0cf; border-color:#32394e !important">
                    <tr>
                        <th>2020</th>
                        <th>YTD 2021</th>
                        <th>WTD</th>
                    </tr>
                </thead>
                <tbody style="color: #a6b0cf">
                    <tr>
                        <td>80%</td>
                        <td>80%</td>
                        <td>80%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="a-drag-5" class="draggable bg-gradient text-center">
            <p><b>LBO</b></p>
            <table class="table align-middle table-nowrap mb-0">
                <thead style="background-color: rgba(108,117,125,0.05); color: #a6b0cf; border-color:#32394e !important">
                    <tr>
                        <th>2020</th>
                        <th>YTD 2021</th>
                        <th>WTD</th>
                    </tr>
                </thead>
                <tbody style="color: #a6b0cf">
                    <tr>
                        <td>80%</td>
                        <td>80%</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>PPM</td>
                        <td>PPM</td>
                        <td>PPM</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="col-xl-6 padding-0">
        <div id="b-drag-1" class="draggable bg-gradient">
            <div class="card-title text-center font-weight-bold" style="font-size: 150%;">OEE</div>

            <div class="row text-center">
                <div class="col-lg-2">
                    <a href="https://azea1mbms001pv.corp.mattel.com/#%2FServer%201%2FGRAFIK%2FMAIN%20HOME%2FMAIN%20HOME" target="_blank"> <div id="gauge1" class="gauge-container two mx-auto" style="width:110%"></div></a>
                    <div class="">PIM</div>
                </div>
                <div class="col-lg-2">
                    <a href="https://azea1mbms001pv.corp.mattel.com/#%2FServer%201%2FGRAFIK%2FMAIN%20HOME%2FMAIN%20HOME" target="_blank">
                        <div id="gauge2" class="gauge-container two mx-auto" style="width: 100%"></div>
                    </a>
                    <div class="">Die Cast</div>
                </div>
                <div class="col-lg-2">
                    <a data-toggle="modal" data-target="#omcModal">
                        <div id="gauge3" class="gauge-container two mx-auto" style="width: 100%"></div>
                    </a>
                    <div class="">OMC</div>
                </div>
                <div class="col-lg-2">
                    <a data-toggle="modal" data-target="#tampoModal">
                        <div id="gauge4" class="gauge-container two mx-auto" style="width: 100%"></div>
                    </a>
                    <div class="">TAMPO</div>
                </div>
                <div class="col-lg-2">
                    <a data-toggle="modal" data-target="#espModal">
                        <div id="gauge5" class="gauge-container two mx-auto" style="width: 100%"></div>
                    </a>
                    <div class="">ESP</div>
                </div>
                <div class="col-lg-2">
                    <a href="https://azea1mbms001pv.corp.mattel.com/#%2FServer%201%2FGRAFIK%2FMAIN%20HOME%2FMAIN%20HOME" target="_blank">
                        <div id="gauge6" class="gauge-container two mx-auto" style="width: 100%"></div>
                    </a>
                    <div class="">BARBELL</div>
                </div>
            </div>
        </div>

        <div id="b-drag-2" class="draggable bg-gradient">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" pause="hover" data-interval="20000">
                <div class="carousel-inner">
                    @{int i = 0; }
                    @foreach (var bms in @ViewBag.BMSData)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active">
                                <iframe class="d-block w-100" height="850" width="300" src="@bms.BMSLink" allowfullscreen></iframe>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <iframe class="d-block w-100" height="850" width="300" src="@bms.BMSLink" allowfullscreen></iframe>
                            </div>
                        }

                        i++;

                    }
                </div>
                <a class="carousel-control-prev carousel-control" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon-custom" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next carousel-control" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon-custom" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


    </div>


    <div class="col-xl-4 padding-0">
        <div id="c-drag-1" class="draggable bg-gradient">
            <div id="microsoftStreamCarousel" class="carousel slide" data-ride="carousel" data-pause="hover" data-interval="1800000">
                <div class="carousel-inner">
                    @{int j = 0; }
            @foreach (var msstream in @ViewBag.MSStreamData)
            {
                if (j == 0)
                {
                    <div class="carousel-item active">
                        <iframe width="1000" height="560" src="@msstream.MSSStreamLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <iframe width="1000" height="560" src="@msstream.MSSStreamLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }

                j++;

            }
            </div>
            <a class="carousel-control-prev carousel-control" href="#microsoftStreamCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next carousel-control" href="#microsoftStreamCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        @*<div class="streamCarousel">
                <div><iframe width="560" height="315" src="https://www.youtube.com/embed/668nUCeBHyY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <div><iframe width="560" height="315" src="https://www.youtube.com/embed/668nUCeBHyY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <div><iframe width="560" height="315" src="https://www.youtube.com/embed/668nUCeBHyY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>*@
                </div>
        <div id="c-drag-2" class="draggable bg-gradient">
            <div class="card-title text-center font-weight-bold" style="font-size: 130%;">Energy</div>
            <div id="my-div">
                <iframe src="https://azea1mbms001pv.corp.mattel.com/#%2FServer%201%2FGRAFIK%2FMAIN%20HOME%2FMAIN%20HOME" id="my-iframe" scrolling="no"></iframe>
            </div>

        </div>
        <div id="c-drag-3" class="draggable bg-gradient container-fluid">
            <div class="card-title text-center font-weight-bold" style="font-size: 130%;">People</div>
            <div class="row ">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="row text-center">
                                <div class="col-md-12">
                                    <div class="d-flex flex-column">
                                        <div class="p-2"><img class="img-fluid w-50" src="~/img/people.png" /> <br />817</div>
                                    </div>
                                    @*@employeeStatistics["totalEmployee"]*@
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex flex-column">
                                        <div class="p-2"><img class="img-fluid w-50" src="~/img/male.png" /> <br />817</div>
                                    </div>
                                    @*@employeeStatistics["totalMale"]*@
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex flex-column">
                                        <div class="p-2">
                                            <img class="img-fluid w-50" src="~/img/female.png" /> <br />25
                                        </div>
                                    </div>
                                    @*@employeeStatistics["totalFemale"]*@
                                </div>
                            </div>

                        </div>


                        <div class="col-md-6">
                            <table class="table align-middle table-nowrap mb-0 table-borderless">
                                <tbody style="color: #a6b0cf">
                                    <tr>
                                        <th>Pregnant</th>
                                        <td>25</td>

                                    </tr>
                                    <tr>
                                        <th>Maternity</th>
                                        <td>25</td>

                                    </tr>
                                    <tr>
                                        <th>Staff</th>
                                        <td>25</td>

                                    </tr>
                                    <tr>
                                        <th>Non-Staff</th>
                                        <td>25</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div id="piechart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal TableAU *@

<!-- Modal Tampo -->
<div class="modal fade" id="tampoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OEE Tampo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <iframe src="https://public.tableau.com/profile/heldy.juliana#!/vizhome/OEEDonwtimeAreaTampo/Dashboard1?:showVizHome=no&:embed=true" width="765" height="1080"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>


        </div>
    </div>
</div>


<!-- Modal OMC -->
<div class="modal fade" id="omcModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OEE OMC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="https://public.tableau.com/profile/heldy.juliana#!/vizhome/OEEDonwtimeAreaOMC/Dashboard1?:showVizHome=no&:embed=true" width="765" height="1080"></iframe>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>


        </div>
    </div>
</div>

<!-- Modal ESP -->
<div class="modal fade" id="espModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="width:1920px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OEE ESP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class='tableauPlaceholder' id='viz1618891082392' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;OE&#47;OEEDonwtimeAreaOMC&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='OEEDonwtimeAreaOMC&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;OE&#47;OEEDonwtimeAreaOMC&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>
                <script type='text/javascript'>var divElement = document.getElementById('viz1618891082392'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '5760px'; vizElement.style.height = '2187px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '5760px'; vizElement.style.height = '2187px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '3477px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>


        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>


    drawPieChart();


    function drawPieChart() {
        var options = {
            series: [33, 33, 33],
            chart: {
                width: 330,
                type: 'pie',
            },
            labels: ['S', 'M', 'T'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        show: false
                    }
                }
            }],
            legend: {
                show: true,
                position: 'bottom'
            }
        };

        var chart = new ApexCharts(document.querySelector("#piechart"), options);
        chart.render();
    }



    function assignGauge(gauge, id, val, color) {
        gauge = Gauge(
            document.getElementById(id),
            {
                min: -100,
                max: 100,
                dialStartAngle: 180,
                dialEndAngle: 0,
                value: val,
                gaugeClass: "gauge",
                viewBox: "0 0 100 57",
                label: function (value) {
                    return (Math.round(value * 100) / 100).toFixed(1) + "%";
                },
                color: function (value) {
                    if (value < 20) {
                        return "#556ee6";
                    } else if (value < 40) {
                        return "#556ee6";
                    } else if (value < 60) {
                        return "#556ee6";
                    } else {
                        return "#556ee6";
                    }
                }
            }
        );
    }

    //var energyGauge1 = assignGauge(energyGauge1, "energyGauge1", 0, "#f7aa38");
    //var energyGauge2 = assignGauge(energyGauge2, "energyGauge2", 0, "#f7aa38");
    //var energyGauge3 = assignGauge(energyGauge3, "energyGauge3", 0, "#f7aa38");
    //var energyGauge4 = assignGauge(energyGauge4, "energyGauge4", 0,"#f7aa38");
    var gauge1 = assignGauge(gauge1, "gauge1", 0.83 * 100, "#556ee6");
    var gauge2 = assignGauge(gauge2, "gauge2", 83.5, "#556ee6");
    var gauge3 = assignGauge(gauge3, "gauge3", 70.5, "#556ee6");
    var gauge4 = assignGauge(gauge4, "gauge4", 60.5, "#556ee6");
    var gauge5 = assignGauge(gauge5, "gauge5", 80.5, "#556ee6");
    var gauge6 = assignGauge(gauge6, "gauge6", 70.5, "#556ee6");

    //function gauge(value, label, gauge_id) {
    //    var options = {
    //        series: [value],
    //        chart: {
    //            height: 250,
    //            type: 'radialBar',
    //            offsetY: -10
    //        },
    //        plotOptions: {
    //            radialBar: {
    //                startAngle: -135,
    //                endAngle: 135,
    //                dataLabels: {
    //                    name: {
    //                        fontSize: '24px',
    //                        color: "#ffffff",
    //                        offsetY: 104
    //                    },
    //                    value: {
    //                        offsetY: 60,
    //                        fontSize: '22px',
    //                        color: "#ffffff",
    //                        formatter: function (val) {
    //                            return val + "%";
    //                        }
    //                    }
    //                }
    //            }
    //        },
    //        colors: ["#556ee6"],
    //        fill: {
    //            type: 'gradient',
    //            gradient: {
    //                shade: 'dark',
    //                shadeIntensity: 0.15,
    //                inverseColors: false,
    //                opacityFrom: 1,
    //                opacityTo: 1,
    //                stops: [0, 50, 65, 91]
    //            },
    //        },
    //        stroke: {
    //            dashArray: 4
    //        },
    //        labels: [label],
    //    };

    //    var chart = new ApexCharts(document.querySelector(gauge_id), options);
    //    chart.render();
    //}

</script>