﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MattelProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/lib/gauge-chart/dist/gauge.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body style="background-color: #222736">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-dark bg-dark border-bottom box-shadow mb-3" style=" background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-frosted-gradient-black-background-image_262528.jpg);">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" style="width: 50px;" src="~/img/mattel.png" /> <span>@ViewBag.headerLabel</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                OEE Per Area
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="OMC">OMC</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="VUM">VUM</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="TAMPO">TAMPO</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="BARBELL">BARBELL</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="DIECAST">DIECAST</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="PIM">PIM</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ESP">ESP</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="PLATING">PLATING</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="PACKOUT">PACKOUT</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="PEOPLE">People</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Login">Admin</a>
                        </li>

                        @foreach (var addPage in @ViewBag.addPageList)
                        {

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Home" asp-action="AddPage" asp-route-id="@addPage.AddPageId">@addPage.AddPageLabel</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid h-100" style="        min-height: 80vh;
        background-color: #222736;">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted" style="        background-color: #302e53;">
        <div class="container text-white">
            &copy; 2021 - MattelProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
