﻿
@{
    ViewData["Title"] = "Add Page";
    Layout = "~/Views/Admin/Admin_Layout.cshtml";
}
@model MattelProject.Models.AddPageModel
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Add Page</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <form asp-action="AddPageInsert" asp-controller="Admin">
                        <div class="form-group">
                            <label asp-for="AddPageLabel">Header Label</label>
                            <input asp-for="AddPageLabel" class="form-control" placeholder="Header Label Goes Here">
                        </div>
                        <div class="form-group">
                            <label asp-for="AddPageLink">Iframe Link</label>
                            <input asp-for="AddPageLink" class="form-control" placeholder="Iframe Link Goes Here">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>


            <table id="addPageTable" class="display">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Header Label</th>
                        <th>Iframe Content</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;}
                    @foreach (var addPage in @ViewBag.Data)
                    {
                    <tr>
                        <td>@i</td>
                        <td>@addPage.AddPageLabel</td>
                        <td>@addPage.AddPageLink</td>
                        <td><a class="btn btn-danger" href="deleteAddPageData/@addPage.AddPageId" role="button"><i class="fas fa-trash"></i></a></td>

                    </tr>

                        i++;
                    }
                </tbody>
            </table>
        </div>
    </section>
    <!-- /.content -->
</div>
<script>
    $(document).ready(function () {
        $('#addPageTable').DataTable();
    });
</script>