﻿
@{
    ViewData["Title"] = "AdminAccount";
    Layout = "~/Views/Admin/Admin_Layout.cshtml";
}
@model MattelProject.Models.LoginModel
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">BMS Data</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <form asp-action="AdminACCInsert" asp-controller="Admin">
                        <div class="form-group">
                            <label asp-for="username">BMS Link</label>
                            <input asp-for="username" class="form-control" placeholder="Username Here">
                        </div>
                        <div class="form-group">
                            <label asp-for="password">BMS Link</label>
                            <input type="text" asp-for="password" class="form-control" placeholder="Password Goes Here">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>


            <table id="adminAccountTable" class="display">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;}
                    @foreach (var admin in @ViewBag.Data)
                    {
                    <tr>
                        <td>@i</td>
                        <td>@admin.username</td>
                        <td>@admin.password</td>
                        <td><a class="btn btn-danger" href="deleteAdminAccData/@admin.admin_id" role="button"><i class="fas fa-trash"></i></a></td>

                    </tr>

                        i++;
                    }
                </tbody>
            </table>
        </div>
    </section>
    <!-- /.content -->
</div>
<script>
    $(document).ready(function () {
        $('#adminAccountTable').DataTable();
    });
</script>
