﻿
@{
    ViewData["Title"] = "Changing Layout";
    Layout = "~/Views/Admin/Admin_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Changing Layout</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <style>
        .ui-widget-content {
            border-style: ridge;
            background-color: #535251;
            border-color: #c4c5ce;
            border-radius: 10px;
            margin: 0.5rem 0 0 0.5rem;
        }
        ul {
            list-style-type: none;
        }
        .padding-0 {
            padding-right: 0rem;
            padding-left: 0rem;
        }
    </style>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div id="containment-wrapper card">
                <div class="row card-body text-center grid-stack">
                        <button type="button" class="btn btn-primary">Add Div</button>
                        <div class="grid-stack-item">
                            <div class="ui-widget-content grid-stack-item-content" style="height:100px;" id="i1">Div1</div>
                        </div>
                        <div class="grid-stack-item">
                            <div class="ui-widget-content grid-stack-item" style="height:100px;" id="i2">Div2</div>
                        </div>
                        <div class="grid-stack-item">
                            <div class="ui-widget-content grid-stack-item" style="height:100px;" id="i3">Div3</div>
                        </div>
                        <div class="grid-stack-item">
                            <div class="ui-widget-content grid-stack-item" style="height:100px;" id="i4">Div4</div>
                        </div>
                        <div class="grid-stack-item">
                            <div class="ui-widget-content grid-stack-item" style="height:100px;" id="i5">Div5</div>
                        </div>
                  
                    @*<div class="col-md padding-0">
                        <button type="button" class="btn btn-primary">Add Div</button>


                            <div class="ui-widget-content" style="height:100px;" id="i6">Div1</div>
                            <div class="ui-widget-content" style="height:400px;" id="i7">Div2</div>
                  
                    </div>
                    <div class="col-md padding-0">
                        <button type="button" class="btn btn-primary">Add Div</button>

                            <div class="ui-widget-content" style="height:300px;" id="i8">Div1</div>
                            <div class="ui-widget-content" style="height:100px;" id="i9">Div2</div>
                            <div class="ui-widget-content" style="height:100px;" id="i10">Div3</div>
               
                    </div>*@
                </div>
                <!--<div class="row card-body text-center">
        <div class="col-md padding-0">
            <button type="button" class="btn btn-primary">Add Div</button>

            <ul class="sortable" id="sortable1">
                <li class="ui-widget-content" style="height:100px;" id="i1">Div1</li>
                <li class="ui-widget-content" style="height:100px;" id="i2">Div2</li>
                <li class="ui-widget-content" style="height:100px;" id="i3">Div3</li>
                <li class="ui-widget-content" style="height:100px;" id="i4">Div4</li>
                <li class="ui-widget-content" style="height:100px;" id="i5">Div5</li>
            </ul>
        </div>
        <div class="col-md padding-0">
            <button type="button" class="btn btn-primary">Add Div</button>


            <ul class="sortable" id="sortable2">
                <li class="ui-widget-content" style="height:100px;" id="i6">Div1</li>
                <li class="ui-widget-content" style="height:400px;" id="i7">Div2</li>
            </ul>-->
                @*<div id="draggable" class="ui-widget-content draggable" style="height:100px;width:100px;float:left">Div6</div>
        <div id="draggable" class="ui-widget-content draggable" style="height:100px;width:100px;float:left">Div7</div>*@
                <!--</div>
    <div class="col-md padding-0">
      <button type="button" class="btn btn-primary">Add Div</button>


        <ul class="sortable" id="sortable3">
            <li class="ui-widget-content" style="height:300px;" id="i8">Div1</li>
            <li class="ui-widget-content" style="height:100px;" id="i9">Div2</li>
            <li class="ui-widget-content" style="height:100px;" id="i10">Div3</li>
        </ul>-->
                @*<div id="draggable" class="ui-widget-content draggable" style="height:100px;width:100px;float:left">Div8</div>
        <div id="draggable" class="ui-widget-content draggable" style="height:100px;width:100px;float:left">Div9</div>
        <div id="draggable" class="ui-widget-content draggable" style="height:100px;width:100px;float:left">Div10</div>*@
                <!--</div>
    </div>-->
            </div>
            <button type="button" id="submit-button" class="btn btn-primary">Submit</button>
        </div>
    </section>
    <!-- /.content -->
</div>

<script>

    var positions = JSON.parse(localStorage.positions || "{}");
    $(function () {
        console.log("sebelum declare");
        var grid = GridStack.init();
        grid.on('change', function (event, items) {
            console.log(event, items);
        });
        console.log("setelah declare");

        $("#sortable1").sortable();
        $("#sortable1").disableSelection();
        $("#sortable2").sortable();
        $("#sortable2").disableSelection();
        $("#sortable3").sortable();
        $("#sortable4").disableSelection();

        $("#submit-button").click(function () {
            var arrId = [];
            var idsInOrder1 = $("#sortable1").sortable("toArray");
            var idsInOrder2 = $("#sortable2").sortable("toArray");
            var idsInOrder3 = $("#sortable3").sortable("toArray");
            arrId[0] = idsInOrder1;
            arrId[1] = idsInOrder2;
            arrId[2] = idsInOrder3;
        
            console.log(arrId);
        });


        var d = $("[id=draggable]").attr("id", function (i) {
            return "draggable_" + i
        })
        $.each(positions, function (id, pos) {
            $("#" + id).css(pos)
        })



        d.draggable({
            containment: "#containment-wrapper",
            scroll: false,
            stop: function (event, ui) {
                positions[this.id] = ui.position
                console.log(positions);
                localStorage.positions = JSON.stringify(positions)
            }
        });
    });
</script>