﻿
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Admin/Admin_Layout.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid" style="height:70vh">
            <iframe src="https://localhost:44362/" title="Home" style="width:100%; height:100%; border:none; margin:0; padding:0;"></iframe>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <form asp-controller="admin" asp-action="index" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="card-title mb-3">Change Car Image:</label>
                        <INPUT id="oFile" type="file" runat="server" class="form-control-file" name="file">
                        <img id="blah" src="#" class="img-thumbnail">
                        @*<input type="file" class="form-control-file" id="exampleCheck1">*@
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    @ViewBag.Message
                </form>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <form asp-controller="admin" asp-action="updateHeaderLabel" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="card-title mb-3">Change Header Label:</label>
                        <input type="text" class="form-control" runat="server" id="exampleInputEmail1" name="headerLabel" placeholder="Enter Header Label.....">
                        @*<input type="file" class="form-control-file" id="exampleCheck1">*@
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    @ViewBag.Message
                </form>
            </div>
        </div>

    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- /.content -->
</div>


<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#oFile").change(function () {
        console.log("asdsad");
        readURL(this);
    });
</script>
