﻿
@{
    ViewData["Title"] = "MS Stream";
    Layout = "~/Views/Admin/Admin_Layout.cshtml";
}
@model MattelProject.Models.MSStreamModel
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">MSStream Data</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <form asp-action="MSStreamInsert" asp-controller="Admin">
                        <div class="form-group">
                            <label asp-for="MSSStreamLink">MSStream Link</label>
                            <input asp-for="MSSStreamLink" class="form-control" placeholder="MSStream Link Goes Here">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>


            <!--<table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">BMS Link</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>-->
            @*@foreach (var user in @ViewBag.Data)
                {
                    <tr>
                        <th scope="row">1</th>
                        <td>@user.FirstName</td>
                        <td>@user.Age</td>
                        <td><a class="btn btn-primary" href="Data/delete/@user.DataId" role="button"><i class="fas fa-trash"></i></a></td>

                    </tr>
                }*@

            <!--</tbody>
            </table>-->

            <table id="msStreamTable" class="display">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>MSStream Link</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;}
                    @foreach (var msstream in @ViewBag.Data)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@msstream.MSSStreamLink</td>
                            <td><a class="btn btn-danger" href="deleteMSStreamData/@msstream.MSStreamId" role="button"><i class="fas fa-trash"></i></a></td>

                        </tr>

                        i++;
                    }
                </tbody>
            </table>
        </div>
    </section>
    <!-- /.content -->
</div>
<script>
    $(document).ready(function () {
        $('#msStreamTable').DataTable();
    });
</script>